<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <div id="{{ name }}">
        @if(raw ?? false)
            {{{ value }}}
        @else
            {{ value }}
        @end
    </div>
</div>